FE_TEST_TO_EMAIL=
FE_TEST_FROM_EMAIL=

# MailTrap Tests Credentials
FE_TEST_MAILTRAP_TO_EMAIL=
FE_TEST_MAILTRAP_FROM_EMAIL=
FE_TEST_MAILTRAP_HOST=
FE_TEST_MAILTRAP_USER=
FE_TEST_MAILTRAP_PWD=
FE_TEST_MAILTRAP_PORT=587
FE_TEST_MAILTRAP_API_HOST=
FE_TEST_MAILTRAP_API_KEY=
FE_TEST_MAILTRAP_TEMPLATE=

# MailGun Tests Credentials
FE_TEST_MAILGUN_TO_EMAIL=
FE_TEST_MAILGUN_FROM_EMAIL=
FE_TEST_MAILGUN_DOMAIN=
FE_TEST_MAILGUN_API_KEY=

# Azure Email Service Credentials
FE_TEST_AZURE_TO_EMAIL=
FE_TEST_AZURE_FROM_EMAIL=
FE_TEST_AZURE_API_HOST=

# Postmark Credentials
FE_TEST_POSTMARK_API_KEY=
FE_TEST_POSTMARK_FROM_EMAIL=

# SendGrid Credentials
FE_TEST_SENDGRID_API_KEY=
FE_TEST_SENDGRID_TEMPLATE=

# Graph Credentials
FE_TEST_GRAPH_TO_EMAIL=
FE_TEST_GRAPH_FROM_EMAIL=
FE_TEST_GRAPH_TENANT_ID=
FE_TEST_GRAPH_APP_ID=
FE_TEST_GRAPH_CLIENT_SECRET=
